benchmark/data/
benchmark/FeatureFiles/
benchmark/test_data/
speechbrain
other/en
datasets/**/*.wav
datasets/**/*.mp3
datasets/**/*.mp4
datasets/**/*.flac
datasets/**/*.m4a
datasets/**/*.wma
downloaded_models
gadi_scripts/completed_jobs
stage4/completed_jobs
stage4/failed_jobs
stage5/completed_jobs
segmentation/data/*
stage*/completed_jobs
